<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="10; URL=http://localhost:8080/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Command Viewer</title>
	<style>

	body {
		background-color: #fcfcfc;
	}
		
		#admin{
			text-align: left;
		}
		
		* {
		  box-sizing: border-box;
		}

		/* Create two equal columns that floats next to each other */
		.column1 {
		  float: left;
		  width: 30%;
		  padding: 40px;
		}
		
		.column2 {
		  float: left;
		  width: 70%;
		  padding: 40px;
		}
		


		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}
		h1{
			color: white;
		}
		
		h4{font-size:18px;}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:#000000;">
    <div class="container">
			<img align="right" width="300" height="100" style src="/static/logo.png"/>
			</br></br>
			<h1>Commands</h1>
			<p></p>
		
		</br></br>
		{% for file in Ficheros %}
		<table id="contentTable" class="table table-hover" style="background-color:#eeeeee;">
				<thead class="table thead-dark">					
				  <tr>
						<th>Table</th>
						<th>Paid</th>
						<th>Price</th>
				  </tr>
				</thead>
			
				<tbody>
					<tr>
						<td colspan="5">
							<div></div>
					</tr>
						<tr>
							<td> {{file.table}}</td>
							<td><i  class="material-icons" style="font-size:40px;text-shadow:1px 1px 2px #222222;">{{file.paidState}}</i></td>
							<td>{{file.price}}</td>
						</tr>
						<tr>
							<td colspan="5">
								<div>
									<table id="orders" class="table table-hover" style="background-color:#eeeeee;">
											<h2>Dishes</h2><br>
											<thead class="table thead-dark">				
												<tr>
													<th>Id</th>
													<th>Name</th>
													<th>Units</th>
													<th>Completed</th>
												</tr>
											</thead>
											<tbody>
													{% for order in file.orders %}
													<tr>
															<td>{{order.id}} </td>
		
															<td>{{order.name}} </td>
		
															<td>{{order.units}} </td>
															
															<td>
																<form method="get" action="remove">
																	<input type="hidden" name="commandId" value="{{file.name}}">
																	<input type="hidden" name="orderId" value="{{order.id}}">
																	<button type="submit" class="btn btn-success">Completed</button>
																</form>
															</td>
													</tr>
													{% endfor %}
											</tbody>
									</table>
								</div>
							</td>
						</tr>
				</tbody>
			</table><br><br><br>
			{% endfor %}
    </div>
	

    
<!-- <script>
    
			var table=document.getElementById("contentTable");
			var r=1;
			while(row=table.rows[r++])
			{
				var c=1;
				while(cell=row.cells[c++])
				{
					if (cell.innerText=='clear'){
						cell.children[0].setAttribute("style","font-size:40px;text-shadow:1px 1px 2px #222222;color:#ce3737;");
						row.cells[0].children[0].setAttribute("class", "btn btn-danger")
						}
					else{
						cell.children[0].setAttribute("style","font-size:40px;text-shadow:1px 1px 2px #222222;color:#178c33;");
					}
						

				}
			}
			
		</script> -->
	</body>
</html>